{{> head }}

<body>
    
    {{> navbar }}

    <div class="row">
        
        <div class="col-8">
            <h1>Acerca de</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam consequatur, temporibus sed voluptas repudiandae inventore veniam quod optio pariatur est officia porro nobis sapiente tempore nesciunt, vero cum iste eius!
            </p>
        <div class="col-4">
            <img src="assets/img/a.png" class="img-thumbnail" alt="Icono about">
        </div>
        
    </div>

   {{> footer }}
</body>

</html>